* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
    --bg-color-red: radial-gradient(rgb(185, 61, 39), tomato);
    --bg-color-green: radial-gradient(rgb(48, 140, 48),  rgb(86, 204, 86));
    --bg-color-orange: radial-gradient(rgb(187, 136, 41), rgb(236, 180, 76));
}

@keyframes open {
    0%{
        filter: opacity(0%);
        padding-top: 20rem;
    }
}

.active{
    animation-name: open;
    animation-duration: 1s;
    animation-timing-function: ease;
}

body{
    overflow: hidden;
}
main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: bg-open .3s;
}

#container-nav-main{
    position: absolute;
    left: 50%;
    translate: -50%;
    margin-top: 3rem;
    z-index: 10;
}
#nav-main{
    font-variant: small-caps;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    width: 80vw;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, .8);

    /* &:hover{
        span{
        }
    } */
    
    span{
        transition: color .2s, border-bottom .3s;
        border-bottom: 2px solid transparent;
    }
    span:hover{
        color: white;
        cursor: pointer;
        border-bottom: 2px solid whitesmoke;
    }

    div{
        display: flex;
        gap: 2rem;
    }
}

#container-nav{
    z-index: 5;
    display: flex;
    position: absolute;
    bottom: 10rem;
    width: 100%;
    justify-content: center;

    nav{
        width: 80%;
        display: flex;
        justify-content: space-between;
 
        .button-nav{
            width: 5rem;
            height: 5rem;
            /* border: none; */
            /* background-color: rgba(255, 255, 255, .15); */
            border-radius: 50%;
            line-height: 0;
            font-weight: bolder;
            font-size: 2rem;
            color: rgba(255, 255, 255, .4);
            cursor: pointer;
            
            
            border: 2px solid rgba(255, 255, 255, .3);
            background-color: transparent;

            /* box-shadow: 0 0 8px 2px rgba(0, 0, 0, .05); */
            transition: background-color .2s, color .2s, box-shadow .2s, border .2s;
        } 
        .button-nav:hover{
            background-color: rgba(255, 255, 255, .4);
            color: whitesmoke;
            /* box-shadow: 0 0 12px 4px rgba(0, 0, 0, .05); */
            /* transition: background-color color .5s; */

            border: 2px solid transparent;
        }
        .button-nav:active{
            background-color: rgba(255, 255, 255, .1);
            transition: all 0s;
        }
    }
}

#container-strawberry{
    background: var(--bg-color-red);
}
#container-avocado{
    background: var(--bg-color-green);
}
#container-orange{
    background: var(--bg-color-orange);
}

.container{
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

h1{
    font-size: 20rem;
    color: whitesmoke;
    animation: open .7s;
    position: fixed;
    /* left: 50%;
    top: 35%;
    translate: -50%; */

}

.img-soda{
    position: fixed;


    /* position: absolute;
    z-index: 1;
    top: 10%;
    /* top: 0; */
    /* left: 50%;
    translate: -50%;  */
    width: 50rem;
    animation: open .5s;
}

.img-fruit{
    position: fixed;

    /* position: absolute;
    z-index: 2;
    top: 0;
    top: 10%;
    left: 50%;
    translate: -50%; */
    width: 100rem;
    animation: open .6s ease;
}

.hidden{
    display: none;
}