* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
    --bg-color-red: tomato;
    --bg-color-green: rgb(68, 175, 68);
    --bg-color-orange: rgb(218, 165, 65);
}

@keyframes open {
    0%{
        filter: opacity(0%);
        padding-top: 20rem;
    }
}

.active{
    animation-name: open;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.items{
}

body{
    overflow: hidden;
}
main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: bg-open .3s;
}

#container-nav-main{
    position: absolute;
    left: 50%;
    translate: -50%;
    margin-top: 1rem;
    
}
#nav-main{
    /* border-bottom: 3px solid rgba(255, 255, 255, .3); */
    /* border-radius: .5rem; */
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, .9);

    font-variant: small-caps;
    font-size: 2rem;
    letter-spacing: 2px;
    /* padding-inline: 2rem; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: rgba(0, 0, 0, .3); */
    display: flex;
    width: 80vw;
    justify-content: space-between;

    &:hover{
        /* border-bottom-color: rgba(255, 255, 255, .6); */
        span{
            color: rgba(255, 255, 255, .8);
        }
    }

    span{
        transition: color .3s;
    }
    span:hover{
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
    }

    div{
        display: flex;
        gap: 2rem;
    }

    transition: all .3s;
    transition: border .5s;
}

#container-nav{
    z-index: 5;
    display: flex;
    position: absolute;
    bottom: 10rem;
    width: 100%;
    justify-content: center;

    nav{
        width: 70%;
        display: flex;
        justify-content: space-between;
 
        .button-nav{
            width: 5rem;
            height: 5rem;
            border: none;
            border-radius: 50%;
            line-height: 0;
            font-size: 2rem;
            background-color: rgba(255, 255, 255, .1);
            box-shadow: 0 0 12px 3px rgba(0, 0, 0, .05);
            color: rgba(255, 255, 255, .5);
            font-weight: bolder;
            cursor: pointer;
            transition: background-color .3s;
        } 
        .button-nav:hover{
            background-color: rgba(255, 255, 255, .2);
            color: whitesmoke;
            box-shadow: 0 0 12px 4px rgba(0, 0, 0, .05);
            /* transition: background-color color .5s; */
        }
        .button-nav:active{
            background-color: rgba(255, 255, 255, .5);
            transition: all 0s;
        }
    }
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container-strawberry{
    background-color: var(--bg-color-red);
}
#container-avocado{
    background-color: var(--bg-color-green);
}
#container-orange{
    background-color: var(--bg-color-orange);
}
h1{
    font-size: 20rem;
    color: white;
    animation: open .7s;
}

.img-soda{
    position: absolute;
    z-index: 1;
    /* top: 0; */
    left: 50%;
    translate: -50%;
    width: 50rem;
    animation: open .5s;
}

.img-fruit{
    position: absolute;
    z-index: 2;
    /* top: 0; */
    left: 50%;
    translate: -50%;
    width: 100rem;
    animation: open .6s ease;
}

.hidden{
    display: none;
}
.active{

}